
.menuWrapper{
    box-shadow: 0 7px 2px -3px rgba($color: #272626, $alpha: 0.1);
    padding-bottom: 100px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
  

}
.button{
    font-size: 22px;
    margin: 20px 40px;
    cursor: pointer;
}
.listWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 390px));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @media (min-width: 768px) {
        justify-content: space-between;
        max-width: 800px;
    }
    @media (min-width: 1280px) {
        max-width: 1200px;
    }
}
.product {
height: 130px;
.name{
    font-weight: 500;
}
    .content{
        color: rgb(126, 126, 126);
    }
    
}
